samparse/Schemas/samv2-xsd-6.0.2/vmp/SubmitVirtualMedicine-Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by ﻿SMALS (SMALS) -->
<xs:schema xmlns="urn:be:fgov:ehealth:samws:v2:virtual:common"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:core="urn:be:fgov:ehealth:samws:v2:core"
  targetNamespace="urn:be:fgov:ehealth:samws:v2:virtual:common"
  elementFormDefault="qualified" attributeFormDefault="unqualified"
  version="6.0">
  <xs:import namespace="urn:be:fgov:ehealth:samws:v2:core"
    schemaLocation="../common/SamCommonItems.xsd" />
  <!---> Virtual Medicine Part-->
  <!--Commented Classification -->
  <xs:complexType name="CommentedClassificationType">
    <xs:complexContent>
      <xs:extension base="CommentedClassificationKeyType">
        <xs:sequence minOccurs="0">
          <xs:group ref="CommentedClassificationFields" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CommentedClassificationKeyType">
    <xs:attribute name="code" type="core:String10Type" use="required" />
  </xs:complexType>
  <xs:group name="CommentedClassificationFields">
    <xs:sequence>
      <xs:element name="Title" type="core:Text255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Title of the referenced classification level. This field is translated
            in French, Dutch, German and English. French and Dutch versions are mandatory and others
            are optional. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Content" type="core:TextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Content of the referenced classification level. This field is translated
            in French, Dutch, German and English. French and Dutch versions are mandatory and others
            are optional. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosologyNote" type="core:TextType">
        <xs:annotation>
          <xs:documentation>Any note about the posology for the referenced classification level.
            This field is translated in French, Dutch, German and English. French and Dutch versions
            are mandatory and others are optional. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Url" type="core:Text255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>URL to relevant information from BCPI about the referenced
            classification level. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="AddCommentedClassificationType">
    <xs:complexContent>
      <xs:extension base="CommentedClassificationType">
        <xs:sequence>
          <xs:element name="CommentedClassification" type="AddCommentedClassificationType"
            minOccurs="0"
            maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attributeGroup ref="core:addNoChangeMetadata" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChangeCommentedClassificationType">
    <xs:complexContent>
      <xs:extension base="CommentedClassificationType">
        <xs:sequence>
          <xs:element name="CommentedClassification" type="ChangeCommentedClassificationType"
            minOccurs="0"
            maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attributeGroup ref="core:changeNoChangeMetadata" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RemoveCommentedClassificationType">
    <xs:complexContent>
      <xs:extension base="CommentedClassificationKeyType">
        <xs:sequence>
          <xs:element name="CommentedClassification" type="RemoveCommentedClassificationType"
            minOccurs="0"
            maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attributeGroup ref="core:removeNoChangeMetadata" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--Virtual Ingredient -->
  <xs:complexType name="VirtualIngredientType">
    <xs:complexContent>
      <xs:extension base="VirtualIngredientKeyType">
        <xs:sequence>
          <xs:group ref="VirtualIngredientFields" />
          <xs:group ref="VirtualIngredientReferences" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VirtualIngredientKeyType">
    <xs:attribute name="rank" type="core:PositiveShortType" use="required" />
  </xs:complexType>
  <xs:group name="VirtualIngredientFields">
    <xs:sequence>
      <xs:element name="Type" type="core:IngredientTypeType">
        <xs:annotation>
          <xs:documentation>Type of use for the specified substance (given by the link to the
            reference entity Substance). Possible values : - ACTIVE_SUBSTANCE: the substance
            participates in the medicinal product effect ; - EXCIPIENT: not active substance used to
            make the medicinal product more attractive. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Strength" type="core:StrengthRangeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Strength of the specified substance. Some substance quantities cannot be
            specified exactly, so a range is provided. If an exact quantity is known, minimum and
            maximum will have the same value. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="VirtualIngredientReferences">
    <xs:sequence>
      <xs:element name="SubstanceCode" type="core:String10Type" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="AddVirtualIngredientType">
    <xs:complexContent>
      <xs:extension base="VirtualIngredientType">
        <xs:sequence>
          <xs:element name="RealVirtualIngredient" type="AddRealVirtualIngredientType" minOccurs="0"
            maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChangeVirtualIngredientType">
    <xs:complexContent>
      <xs:extension base="VirtualIngredientKeyType">
        <xs:sequence>
          <xs:sequence minOccurs="0">
            <xs:group ref="VirtualIngredientFields" />
            <xs:group ref="VirtualIngredientReferences" />
          </xs:sequence>
          <xs:element name="RealVirtualIngredient" type="ChangeRealVirtualIngredientType"
            minOccurs="0"
            maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attributeGroup ref="core:changeNoChangeMetadata" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--Real Virtual Ingredient -->
  <xs:complexType name="RealVirtualIngredientType">
    <xs:complexContent>
      <xs:extension base="RealVirtualIngredientKeyType">
        <xs:sequence>
          <xs:group ref="RealVirtualIngredientFields" />
          <xs:group ref="RealVirtualIngredientReferences" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RealVirtualIngredientKeyType">
    <xs:attribute name="sequenceNr" type="core:PositiveShortType" use="required" />
  </xs:complexType>
  <xs:group name="RealVirtualIngredientFields">
    <xs:sequence>
      <xs:element name="Type" type="core:IngredientTypeType">
        <xs:annotation>
          <xs:documentation>Type of use for the specified substance (given by the link to the
            reference entity Substance). Possible values : - ACTIVE_SUBSTANCE: the substance
            participates in the medicinal product effect ; - EXCIPIENT: not active substance used to
            make the medicinal product more attractive. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Strength" type="core:StrengthRangeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Strength of the specified substance. Some substance quantities cannot be
            specified exactly, so a range is provided. If an exact quantity is known, minimum and
            maximum will have the same value. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="RealVirtualIngredientReferences">
    <xs:sequence>
      <xs:element name="SubstanceCode" type="core:String10Type" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="AddRealVirtualIngredientType">
    <xs:complexContent>
      <xs:extension base="RealVirtualIngredientType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChangeRealVirtualIngredientType">
    <xs:complexContent>
      <xs:extension base="RealVirtualIngredientKeyType">
        <xs:sequence minOccurs="0">
          <xs:group ref="RealVirtualIngredientFields" />
          <xs:group ref="RealVirtualIngredientReferences" />
        </xs:sequence>
        <xs:attributeGroup ref="core:changeMetadata" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--VMP -->
  <xs:complexType name="VmpType">
    <xs:complexContent>
      <xs:extension base="core:VmpKeyType">
        <xs:sequence>
          <xs:group ref="VmpFields" />
          <xs:group ref="VmpReferences" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--VmpKeyType : in SamCommonItems because of use in AM domain-->
  <xs:group name="VmpFields">
    <xs:sequence>
      <xs:element name="Name" type="core:Text255Type" />
      <xs:element name="Abbreviation" type="core:Text255Type" />
      <xs:element name="SingleAdministrationDose" type="core:QuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Defines what counts as a single administration dose.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="VmpReferences">
    <xs:sequence>
      <xs:element name="CommentedClassificationCode" type="core:String10Type" minOccurs="0"
        maxOccurs="unbounded" />
      <xs:element name="VmpGroupCode" type="core:PositiveIntType" />
      <xs:element name="VtmCode" type="core:PositiveIntType" minOccurs="0" />
      <xs:element name="WadaCode" type="core:String10Type" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="AddVmpType">
    <xs:complexContent>
      <xs:extension base="VmpType">
        <xs:sequence>
          <xs:element name="VmpComponent" type="AddVmpComponentType" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attributeGroup ref="core:addMetadata" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChangeVmpType">
    <xs:complexContent>
      <xs:extension base="core:VmpKeyType">
        <xs:sequence>
          <xs:sequence minOccurs="0">
            <xs:group ref="VmpFields" />
            <xs:group ref="VmpReferences" />
          </xs:sequence>
          <xs:element name="VmpComponent" type="ChangeVmpComponentType" minOccurs="0"
            maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attributeGroup ref="core:changeNoChangeMetadata" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RemoveVmpType">
    <xs:complexContent>
      <xs:extension base="core:VmpKeyType">
        <xs:attributeGroup ref="core:removeMetadata" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--VMP Component -->
  <xs:complexType name="VmpComponentType">
    <xs:complexContent>
      <xs:extension base="core:VmpComponentKeyType">
        <xs:sequence>
          <xs:group ref="VmpComponentFields" />
          <xs:group ref="VmpComponentReferences" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--VmpComponentKeyType : in SamCommonItems because of use in AM domain-->
  <xs:group name="VmpComponentFields">
    <xs:sequence>
      <xs:element name="PhaseNumber" type="core:PositiveShortType" minOccurs="0" />
      <xs:element name="Name" type="core:Text255Type" />
    </xs:sequence>
  </xs:group>
  <xs:group name="VmpComponentReferences">
    <xs:sequence>
      <xs:element name="VirtualFormCode" type="core:String10Type" />
      <xs:element name="RouteOfAdministrationCode" type="core:String10Type" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="AddVmpComponentType">
    <xs:complexContent>
      <xs:extension base="VmpComponentType">
        <xs:sequence>
          <xs:element name="VirtualIngredient" type="AddVirtualIngredientType" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChangeVmpComponentType">
    <xs:complexContent>
      <xs:extension base="core:VmpComponentKeyType">
        <xs:sequence>
          <xs:sequence minOccurs="0">
            <xs:group ref="VmpComponentFields" />
            <xs:group ref="VmpComponentReferences" />
          </xs:sequence>
          <xs:element name="VirtualIngredient" type="ChangeVirtualIngredientType" minOccurs="0"
            maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attributeGroup ref="core:changeNoChangeMetadata" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--VMP Group -->
  <xs:complexType name="VmpGroupType">
    <xs:complexContent>
      <xs:extension base="VmpGroupKeyType">
        <xs:sequence>
          <xs:group ref="VmpGroupFields" />
          <xs:group ref="VmpGroupReferences" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VmpGroupKeyType">
    <xs:attribute name="code" type="core:PositiveIntType" use="required" />
  </xs:complexType>
  <xs:group name="VmpGroupFields">
    <xs:sequence>
      <xs:element name="Name" type="core:Text255Type">
        <xs:annotation>
          <xs:documentation>Name of this group. This field is translated in French, Dutch, German
            and English. French and Dutch versions are mandatory and others are optional. Example:
            ‘amoxicilline 1g oraal’. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PatientFrailtyIndicator" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Indicates whether the frailty of the patient has impact on the standard
            dosage. If the value is true, the standard dosage should be adapted according to the
            patient's frailty. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SingleAdministrationDose" type="core:QuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <p>
              Defines a single administration dose. Products in the same group can have multiple administration routes, and doses can differ between routes. This element contains the quantity that counts as a single administration dose for all routes. 
            </p>
            <p>
              The unit refers to the reference table Administration Unit, not Standard Unit.
            </p>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="VmpGroupReferences">
    <xs:sequence>
      <xs:element name="NoGenericPrescriptionReasonCode" type="core:String10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Indicates the reason why this VMP Group can’t be generically prescribed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NoSwitchReasonCode" type="core:String10Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The generic prescription for VMP’s in this group cannot change. The code
            indicates the reason. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StandardDosageCode" type="core:String10Type" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Standard dosage examples for assistance with creating prescriptions, administration instructions and medication schemes.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="AddVmpGroupType">
    <xs:complexContent>
      <xs:extension base="VmpGroupType">
        <xs:attributeGroup ref="core:addMetadata" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChangeVmpGroupType">
    <xs:complexContent>
      <xs:extension base="VmpGroupType">
        <xs:attributeGroup ref="core:changeMetadata" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RemoveVmpGroupType">
    <xs:complexContent>
      <xs:extension base="VmpGroupKeyType">
        <xs:attributeGroup ref="core:removeMetadata" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--VTM -->
  <xs:complexType name="VtmType">
    <xs:complexContent>
      <xs:extension base="VtmKeyType">
        <xs:sequence>
          <xs:group ref="VtmFields" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VtmKeyType">
    <xs:attribute name="code" type="core:PositiveIntType" use="required" />
  </xs:complexType>
  <xs:group name="VtmFields">
    <xs:sequence>
      <xs:element name="Name" type="core:Text255Type" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="AddVtmType">
    <xs:complexContent>
      <xs:extension base="VtmType">
        <xs:attributeGroup ref="core:addMetadata" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChangeVtmType">
    <xs:complexContent>
      <xs:extension base="VtmType">
        <xs:attributeGroup ref="core:changeMetadata" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RemoveVtmType">
    <xs:complexContent>
      <xs:extension base="VtmKeyType">
        <xs:attributeGroup ref="core:removeMetadata" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--Standard Dosage-->
  <xs:complexType name="AddStandardDosageType">
    <xs:complexContent>
      <xs:extension base="StandardDosageType">
        <xs:attributeGroup ref="core:addMetadata" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RemoveStandardDosageType">
    <xs:complexContent>
      <xs:extension base="StandardDosageKeyType">
        <xs:attributeGroup ref="core:removeMetadata" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StandardDosageKeyType">
    <xs:attribute name="code" type="core:PositiveIntType" use="required" />
  </xs:complexType>
  <xs:complexType name="StandardDosageType">
    <xs:complexContent>
      <xs:extension base="StandardDosageKeyType">
        <xs:sequence>
          <xs:group ref="StandardDosageFields" />
          <xs:group ref="StandardDosageReferences" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:group name="StandardDosageFields">
    <xs:sequence>
      <xs:element name="TargetGroup">
        <xs:annotation>
          <xs:documentation>This Standard Dosage is only applicable to the specified target
            group</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="NEONATE" />
            <xs:enumeration value="PAEDIATRICS" />
            <xs:enumeration value="ADOLESCENT" />
            <xs:enumeration value="ADULT" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="KidneyFailureClass" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation>If Kidney Failure is a predictor, the Kidney Failure Class defines a
            Standard Dosage based on Creatinine Clearance (Cockcroft-Gault Equation) 0 - Normal
            Kidney Function 1 - Creatinin Clearance between 30 and 60 mL/min 2 - Creatinin
            Clearance between 10 and 30 mL/min 3 - Creatinin Clearance lower than 10 mL/min </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LiverFailureClass" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation>If Liver Function Failure is a predictor, the Liver Failure Class
            defines a Standard Dosage based on the Child-Pugh score 0 - Normal Liver Function 1
            - Child Pugh Score 5 or 6 (grade A) 2 - Child Pugh Score 7, 8 or 9 (grade B) 3 -
            Child Pugh Score 10 or more (grade C) </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TreatmentDurationType">
        <xs:annotation>
          <xs:documentation>Treatment duration type.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ONE_OFF" />
            <xs:enumeration value="TEMPORARY" />
            <xs:enumeration value="CHRONIC" />
            <xs:enumeration value="IF_NECESSARY" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="TemporalityDuration" type="core:QuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>If the treatment duration is TEMPORARY and of a fixed length</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TemporalityUserProvided" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>If the treatment duration is TEMPORARY and should be defined by the prescriber</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TemporalityNote" type="core:TextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Free text. If the treatment duration cannot be given as a QuantityType.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="core:Decimal20d4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The number of dosage units or the fraction of dosage units. E.g. "1" in "1 dosage unit 3 times a day". The quantity can be expressed relative to a certain parameter (e.g. weight, see quantity_param_multiplicator). 
            
            The dosage unit is defined in a VMP Group, a VMP and an AMP as an exact amount of active substance (e.g. 500 mg) or in terms of administration units (e.g. 1 tablet). The dosage unit should correspond to the same amount of active substance(s) on the different levels (VMP Group, VMP and AMP), but can differ in form (e.g. "500 mg" in the VMP Group vs "1 tablet" in the VMP vs "1 dividable tablet" in the AMP).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityDenominator" type="core:Decimal20d4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            If the dosage quantity is represented as a fraction of a dosage unit, this field contains the denominator. E.g. "2" in "1/2 dosage units 3 times a day.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityMultiplicator" type="core:String255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Refers to the reference table Dosage Parameter.
            The dosage expressed in Quantity and QuantityDenominator must be multiplied by this Dosage Parameter. E.g. for a QuantityMultiplicator "weight in kg", Quantity "1" and QuantityDenominator "10", the dosage must be read as "1/10th Dosage Unit per kg".
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityRangeLower" type="core:Decimal20d4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The lower bound (or fraction part of the lower bound) for the usual amount of dosage units per administration.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityRangeLowerDenominator" type="core:Decimal20d4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The denominator for the lower bound for the usual amount of dosage units, if the lower bound is a fraction.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityRangeUpper" type="core:Decimal20d4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The upper bound (or fraction part of the upper bound) for the usual amount of dosage units per administration.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QuantityRangeUpperDenominator" type="core:Decimal20d4Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The denominator for the upper bound for the usual amount of dosage units, if the upper bound is a fraction.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdministrationFrequencyQuantity" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The number of doses to be administered in a timeframe (e.g. "3" in "3 administrations per 1 day") 
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdministrationFrequencyIsMax" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            This administration frequency indicates a maximum, e.g. "maximum" 4 administrations per day.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdministrationFrequencyTimeframe" type="core:QuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The time over which to distribute the provided number of doses (e.g. "1 day" in "3 administrations per 1 day") 
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MaximumAdministrationQuantity" type="core:Decimal20d4Type"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>Maximum quantity for a single administration. Prescribers should not
            exceed this maximum.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MaximumAdministrationQuantityDenominator" type="core:Decimal20d4Type"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>Maximum quantity for a single administration. Prescribers should not
            exceed this maximum.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MaximumAdministrationQuantityMultiplicator" type="core:String255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Refers to the reference table Dosage Parameter. See QuantityMultiplicator for more info.
            Maximum quantity for a single administration. Prescribers should not
            exceed this maximum.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MaximumDailyQuantity" type="core:Decimal20d4Type"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>Maximum daily quantity, all administrations combined. Prescribers should not exceed this maximum.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MaximumDailyQuantityDenominator" type="core:Decimal20d4Type"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>Maximum daily quantity, all administrations combined. Prescribers
            should not exceed this maximum.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MaximumDailyQuantityMultiplicator" type="core:String255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Refers to the reference table Dosage Parameter. See QuantityMultiplicator for more info.
            Maximum daily quantity, all administrations combined. Prescribers
            should not exceed this maximum.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TextualDosage" type="core:TextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>If the dosage can not be modelled in the defined structure. Free
            text.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementaryInfo" type="core:TextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Additional information, free text.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RouteSpecification" type="core:Text255Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Optional additional information on the route of administration, e.g.
            'in both nostrils' </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="StandardDosageReferences">
    <xs:sequence>
      <xs:element name="IndicationCode" type="core:String10Type" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Indication for which this standard dosage is applicable</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ParameterBounds" type="BoundedParameterType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>The standard dosage is only applicable if the patient's parameters
            fall within the given bounds. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RouteOfAdministrationCode" type="core:String10Type">
        <xs:annotation>
          <xs:documentation>Reference to the Route of Administration data.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="BoundedParameterType">
    <xs:sequence>
      <xs:element name="DosageParameterName" type="core:String255Type" />
      <xs:element name="LowerBound" type="core:Decimal20d4Type" minOccurs="0" />
      <xs:element name="UpperBound" type="core:Decimal20d4Type" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>