samparse/Schemas/samv2-xsd-6.0.2/vmp/SubmitVirtualMedicine-VmpGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:be:fgov:ehealth:samws:v2:virtual:vmpgroup" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:core="urn:be:fgov:ehealth:samws:v2:core" xmlns:virtual="urn:be:fgov:ehealth:samws:v2:virtual:common"
           targetNamespace="urn:be:fgov:ehealth:samws:v2:virtual:vmpgroup" elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="6.0">
  <xs:import namespace="urn:be:fgov:ehealth:samws:v2:virtual:common" schemaLocation="SubmitVirtualMedicine-Common.xsd"/>
  <xs:import namespace="urn:be:fgov:ehealth:samws:v2:core" schemaLocation="../common/SamCommonItems.xsd"/>
  <xs:element name="AddVmpGroupRequest" type="AddVmpGroupRequestType"/>
  <xs:element name="AddVmpGroupResponse" type="core:StandardResponseType"/>
  <xs:element name="ChangeVmpGroupRequest" type="ChangeVmpGroupRequestType"/>
  <xs:element name="ChangeVmpGroupResponse" type="core:StandardResponseType"/>
  <xs:element name="RemoveVmpGroupRequest" type="RemoveVmpGroupRequestType"/>
  <xs:element name="RemoveVmpGroupResponse" type="core:StandardResponseType"/>
  <xs:element name="AddStandardDosageRequest" type="AddStandardDosageRequestType"/>
  <xs:element name="AddStandardDosageResponse" type="core:StandardResponseType"/>
  <xs:element name="RemoveStandardDosageRequest" type="RemoveStandardDosageRequestType"/>
  <xs:element name="RemoveStandardDosageResponse" type="core:StandardResponseType"/>
  <!--Complex Types-->
  <xs:complexType name="AddVmpGroupRequestType">
    <xs:sequence>
      <xs:element name="VmpGroup" type="virtual:AddVmpGroupType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeVmpGroupRequestType">
    <xs:sequence>
      <xs:element name="VmpGroup" type="virtual:ChangeVmpGroupType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemoveVmpGroupRequestType">
    <xs:sequence>
      <xs:element name="VmpGroup" type="virtual:RemoveVmpGroupType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddStandardDosageRequestType">
    <xs:sequence>
      <xs:element name="StandardDosage" type="virtual:AddStandardDosageType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemoveStandardDosageRequestType">
    <xs:sequence>
      <xs:element name="StandardDosage" type="virtual:RemoveStandardDosageType"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
